.foo {
  z-index: 1;
}

@media (min-width: 1024px) {
  .foo {
    z-index: 2;
  }
  .bar {
    z-index: 3;
  }
}

.bar {
  z-index: 2;
}

@media (min-width: 1024px)
{
  .foo {
    z-index: 4;
  }
  .bar {
    z-index: 5;
  }
}